*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .wrapper
    {
        overflow-x: hidden;
    }

    body
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: red;

        button.plans
        {
            display: block;
            background: transparent;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
            padding: .75rem 2rem;
            letter-spacing: 1px;
        }

        .line
        {
            height: 1px;
            width: 150px;
        }
    }
}