@import "../abstracts/__colors";

section.home
{
    background: var(--primary-blue);
    padding: 8rem 0;
    position: relative;
    height: 80vh;

    img.right
    {
        position: absolute;
        top: 0;
        right: 0;
    }

    img.left
    {
        position: absolute;
        top: 75%;
        left: 0;
    }

    .container
    {
        max-width: 65%;
        margin: 0 auto;

        .grid_home
        {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 2rem;
            margin-top: 4rem;
            justify-content: center;

            .home1
            {
                color: #fff;

                .white_line
                {
                    background: #fff;
                    margin-bottom: 4rem;
                }

                h1
                {
                    font-size: 3.5rem;
                }

                p
                {
                    font-size: .9rem;
                    line-height: 25px;
                    margin: 1.5rem 0 2rem 0;
                }

                button
                {
                    border: 2px solid #fff;
                    color: #fff;
                }
            }

            img.family
            {
                //width: 100%;
            }
        }
    }
}

@media only screen and(max-width: 1280px)
{
    section.home
    {
        height: 100%;
        text-align: center;

        h1
        {
            font-size: 2.5rem !important;
        }

        button
        {
            display: block;
            margin: 0 auto;
        }

        .white_line
        {
            display: none;
        }
        
        img.family
        {
            width: 94% !important;
            display: block;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 670px)
{
   section.home
   {
        padding-top: .1rem;
        
        .container
        {
            max-width: 100%;
            
            .grid_home
            { 
                img.family
                {
                    order: 2 !important;
                    z-index: 9;
                    position: relative;
                    top: -15%;
                }
        
                .home1
                {
                    order: 3 !important;
                    padding: 4rem 4rem 0 4rem;
                }
            }
        }
   }
}